@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* in your global CSS file (index.css or App.css) */
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}


body {
  background-color: #0F0F0F;
  color: white;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}
* {
  font-family: "Inter", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

